// --- Header Navigation 
#header{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99;
  .container {
      position: fixed;
      top: 0;
      display: flex;
      max-width: 1220px !important;
      z-index: 2;
      background-color: #ffffff;
      @media screen and (min-width: 768px) {
          position: absolute;
          top: unset;
          margin-top: 50px;
      }
      a {
          color: #000000;
      }
      .header-info {
          display: none;
          .overflow & {
              position: absolute;
              display: flex;
              top: 10px;
              z-index: 9;
              width: 100%;
              right: 15px;    
              margin-top: 10px;
          }
          @media screen and (min-width: 1200px) {
              position: unset;
              display: contents;
              top: 70px;
              margin-top: 0;
          }
      }
      .single & {
          position: relative;
      }
  }
  ul li, ol li {
      margin: 0;
  }
  ul li, ol li {
      list-style: none;
  }
  ul {
      width: 100%;
      display: flex;
  }
  button {
      border: none;
      background: none;
      @media screen and (min-width: 768px) {
          display: none;
      }
  }
  .menu-item {
      font-size: 20px;
      padding: 10px 0 0 0;
      text-transform: uppercase;
      z-index: 2;
      @media screen and (min-width: 768px) {
          font-size: 13px;
          padding: 20px 20px 20px 0;
      }
      a {
          display: inline;
      }
  }
  .menu-item-has-children > .dropdown-btn {
      position: absolute;
      content: '';
      border-left: solid 8px #ffffff;
      border-bottom: solid 8px transparent;
      border-top: solid 8px transparent;
      right: 10px;
      top: 20px;
      opacity: 0.8;
      border-right: 0;
      background: unset;
      transform: rotate(90deg);
      @media screen and (min-width: 768px) {
         top: 14px;
      }
      @media screen and (min-width: 1200px) {
          display: none;
          top: 14px;
       }
  }
  .sub-menu.active {
      display: block !important;
  }
  .sub-menu {
      top: 56px;
      display: none;
      position: unset;
      margin-top: 10px;
      min-width: 240px;
      @media screen and (min-width: 1200px) {
          margin-top: 0;
          position: absolute;
      }
     
      li {
          border-bottom: 1px solid #ffffff;
          @media screen and (min-width: 1200px) {
              border-bottom: 1px solid #000000;
          }
          &:last-child {
              border-bottom: unset !important;
              .sub-menu {
                  top: -226px;
              }
          }
          a {
              display: block;
          }
      }
      .menu-item-has-children  {
          position: relative;
          &:hover {
              opacity: 1;
          }
          > .dropdown-btn {
              position: absolute;
              content: '';
              border-left: solid 8px #ffffff;
              border-bottom: solid 8px transparent;
              border-top: solid 8px transparent;
              top: 16px;
              opacity: 0.8;
              border-right: 0;
              @media screen and (min-width: 1200px) {
                  border-left: solid 5px var(--green);
                  border-bottom: solid 5px transparent;
                  border-top: solid 5px transparent;
                  border-right: 0;
                  opacity: 0.4;
                  display: block !important;
                  transform: unset;
                  top: 14px;
              }
          }
      }
      .sub-menu {
          top: 0px ;
          li {
              background: var(--blue);
              border-bottom: 1px solid #ffffff;
              @media screen and (min-width: 1200px) {
                  background: var(--green);
              }
              a {
                  color:#ffffff;
                  &:hover {
                      color: #ffffff !important;
                  }
              }
          }
         
          .menu-item-has-children  {
              position: relative;
              &:hover {
                  opacity: 1;
              }
              .dropdown-btn {
                  position: absolute;
                  content: '';
                  border-left: solid 8px #ffffff;
                  border-bottom: solid 8px transparent;
                  border-top: solid 8px transparent;
                  top: 16px;
                  opacity: 0.8;
                  border-right: 0;
                  @media screen and (min-width: 1200px) {
                      border-left: solid 5px #ffffff;
                      border-bottom: solid 5px transparent;
                      border-top: solid 5px transparent;
                      border-right: 0;
                      opacity: 0.4;
                      display: block !important;
                      transform: unset;
                      top: 14px;
                  }
              }
          }
          .sub-menu .dropdown-btn {
              display: none !important;
          }
          
      }
  }
  .tel {
      &:hover {
          color: #ffffff;
      }
  }
  .desktop {
      display: none !important;
  }
  .mobile {
      display: block !important;
  }
  @media screen and (min-width: 1200px) {
      .desktop {
          display: block !important;
      }
      .mobile {
          display: none !important;
      }
  }
  .logo-header {
      width: 100%;
      @media screen and (min-width: 768px) {
          width: 30%;
      }
      .header-logo {
          z-index: 10;
          padding: 5px 0;
          max-width: 160px;
          position: relative;
          @media screen and (min-width: 768px) {
              max-width: 200px;
          }
      }
  
      .logo-div {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0 10px;
          background: #ffffff;
          position: relative;
          z-index: 9;
          height: 70px;
          align-items: center;
          @media screen and (min-width: 768px) {
              height: 100%;
          }
          .overflow & {
              position: fixed;
              top: 0;
              left: 0;
              z-index: 9999;
              padding: 0 30px;
          }
          .mobile-menu {
              background: unset;
              border: unset;
              width: 50px;
              position: relative;
              z-index: 10;
              bottom: 5px;
              .line {
                  height: 3px;
                  background: #000000;
                  width: 40px;
                  display: inline-flex;
                  @media screen and (min-width: 1200px) {
                      display: none;
                  }
              }
          }
          img {
              @media screen and (min-width: 1447px) {
                  position: relative;
              }
          }
          .phone-icon {
              width: 20px;
              transform: rotate(20deg);
              @media screen and (min-width: 1200px) {
                  width: 27px;
              }
          }
           .email-icon {
              width: 15px;
              @media screen and (min-width: 1200px) {
                  width: 30px;
              }
          }
          .contact-div{
              width: 100%;
              background: var(--green);
              color: #ffffff;
              position: relative;
              border-bottom: 1px solid;
              border-color: var(--green); 
              padding: 5px 10px;
              display: flex;
              flex-direction: column;
              @media screen and (min-width: 1200px) {
                  width: 50%;
                  padding: 0 30px 0px 55px;
                  place-content: center;
              }
                  

              a {
                  text-align: end; 
                  font-size: 20px;

                  @media screen and (min-width: 1200px) {
                      font-size: 40px;
                      max-width: 540px;
                      padding-bottom: 5px;
                  }
              }

              .email {
                  font-size: 18px;
                  color: #ffffff;
                  text-decoration: none;
                  @media screen and (min-width: 1200px) {
                      font-size: 21px;
                  }
              }
          }
          .contact_div {
              font-size: 50px;
          }
      }
  }
  .menu {
      //mobile menu 
      &.active {
          display: block;
          width: 100%;
          background: var(--purple);
          height: 100vh;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 9876;
          padding: 90px 20px;
          overflow-y: scroll;
          li {
              padding-bottom: 20px;
          }
          a {
              text-decoration: none;
              color: #ffffff;
          }
      }
  }
  #search {
      position: relative;
      display: inline-flex;

      .search-icon {
          position: absolute;
          right: 4px;
          filter: invert(1);
          max-width: 16px;
          top: 17px;
          cursor: pointer;
      }
  }
  .search-field {
      width: 250px;
      background-color: var(--purple);
      height: 25px;
      border-radius: 5px;
      color: #ffffff;
  }
  .search-field::placeholder {
      color: #ffffff;
      font-size: 12px;
  }
  .social-icons {
      display: flex;
      align-self: center;
      margin-left: auto;
      img {
          width: 25px;
          &:nth-child(2) {
              margin: 0 15px;
          }
      }
     
      a {
          text-decoration: none;
      }
  }
  .dropdown-btn.active {
      transform: rotate(270deg) !important;
      top: 0 !important;
      transition: 1s ease-out;
  }
  // NEW 
  .menu-top {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      img {
          max-width: 25px;
          margin-right: 10px;
      }
      .phone-number {
          display: flex;
          align-self: center;
          width: 50%;
          span {
              display: flex;
              align-items: center;
              font-weight: 600;
          }
      }
      .basket {
          display: flex;
          align-items: center;
          margin-right: 20px;
          position: relative;
          span {
              display: flex;
              align-items: center;
              font-size: 11px;
          }
          .cart-count {
              position: absolute;
              color: var(--white);
              background: var(--purple);
              padding: 2px 6px;
              top: 0;
              right: 0;
              border-radius: 60%;
          }
      }
  }
  .menu-header {
      width: 70%;
      display: none;
      @media screen and (min-width: 768px) {
          display: block;
      }
  }
  .header-info {
      width: 50%;
  }
  //menu 
  .menu-item-has-children {
      position: relative;
      padding-right: 30px;
      @media screen and (min-width: 768px) {
          &:after {
              content: '▾';
              position: absolute;
              font-size: 17px;
              top: 16px;
              right: 18px;
              cursor: pointer;
          }    
      }
      .sub-menu {
          z-index: 92;
          width: 100%;
          display:none;
          @media screen and (min-width: 768px) {
              position: absolute;
          }
          @media screen and (min-width: 1200px) {
              background: #ffffff;
          }
          li {
              padding: 10px !important;
              &:after {
                  display: none;
              }
          }
          .sub-menu {
              display: none;
              left: 100%;
              top: 0;
              margin-top: 0;
          }
          @media screen and (min-width: 768px) {
              &:hover > .sub-menu  {
                  display:block !important;
              }
          }
      }
      @media screen and (min-width: 768px) {
          &:hover > ul{
              display:block !important;
          }
      }
  }
}


