#products-section {
    .title {
        text-align: center;
        margin: 30px 0;
        @media screen and (min-width: 768px) {
            margin: 75px 0;
        }
    }
    .button {
        background: var(--blue);
        text-transform: uppercase;
        border-radius: 0;
        color: #ffffff;
        padding: 15px 35px;
        font-weight: 100;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .price {
        color: #000000;
        opacity: 0.7;
    }
    .onsale {
        top: 0;
        right: auto;
        left: 0;
        margin: 10px;
        height: 50px;
        width: 50px;
        background: var(--pink);
        color: #ffffff;
        transform: rotate(-10deg);
    }
}